@import "../../theme_variables.scss";

mat-toolbar {
  &:first-child {
    padding: 30px 0 10px;
  }

  mat-toolbar-row {
    h1, h5 {
      text-align: center;
      flex: 0 0 100%;
      font-weight: 100;
    }

    h1 {
      font-size: 24px;
    }

    h5 {
      font-size: 20px;
    }
  }
}

.home-container {
  padding: 30px;
  font-size: 20px;
  color: #777;

  .text-center {
    text-align: center;
  }

  .img-center {
    img {
      height: 75px;
    }
  }

  mat-card {
    margin-bottom: 25px;

    table {
      width: 100%;

      tr {
        &:not(.mat-header-row) {
          &:hover {
            background: #ddd;
            color: $primary;
          }
        }
      }

      td {
        i {
          &.fab {
            margin-right: 15px;
            font-size: 150%;

            &.fa-npm:hover {
              color: #CB3837;
            }

            &.fa-github:hover {
              color: #fff;
            }
          }
        }
      }

      a {
        color: $primary;

        i {
          color: #000;
        }

        text-decoration: none;
        text-align: left;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
