<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Crypto Exchange Wrappers</h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="home-container">
  <mat-card>
    <mat-card-content class="text-center img-center">
      <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutAlign="space-around start"
        fxFlexFill
      >
        <div fxFlex="33%" fxFlex.lt-sm="100%" fxFlexFill class="img-center">
          <img src="assets/node-logo.svg" alt="Node JS">
        </div>
        <div fxFlex="33%" fxFlex.lt-sm="100%" fxFlexFill class="img-center">
          <img src="assets/typescript-logo.svg" alt="Typescript">
        </div>
        <div fxFlex="33%" fxFlex.lt-sm="100%" fxFlexFill class="img-center">
          <img src="assets/npm-logo.svg" alt="NPM">
        </div>
      </div>

      <p>API wrappers for Node.JS projects. Written in Typescript &amp; avaliable on NPM.</p>
      <p>Build trading bots on Australian crypto exchanges with these API wrappers.</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Australian Exchange Wrappers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar *ngIf="!dataSource || !displayedColumns; else showTable" color="primary" mode="indeterminate"></mat-progress-bar>
      <ng-template #showTable>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              <a routerLink="exchange/{{ element.slug}}">{{ element.name }}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="build">
            <th mat-header-cell *matHeaderCellDef>Build Status</th>
            <td mat-cell *matCellDef="let element">
              <img [src]="element.build" alt="Build Status" (error)="errorHandler($event)">
            </td>
          </ng-container>

          <ng-container matColumnDef="coverage">
            <th mat-header-cell *matHeaderCellDef>Test Coverage</th>
            <td mat-cell *matCellDef="let element">
              <img [src]="element.coverage" alt="Test Coverage" (error)="errorHandler($event)">
            </td>
          </ng-container>

          <ng-container matColumnDef="dependencies">
            <th mat-header-cell *matHeaderCellDef>Dependencies Status</th>
            <td mat-cell *matCellDef="let element">
              <img [src]="element.dependencies" alt="Dependancies Status" (error)="errorHandler($event)">
            </td>
          </ng-container>

          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef>Version</th>
            <td mat-cell *matCellDef="let element">
              <img [src]="element.version" alt="Version" (error)="errorHandler($event)">
            </td>
          </ng-container>

          <ng-container matColumnDef="package">
            <th mat-header-cell *matHeaderCellDef>Package <i class="fas fa-external-link-alt"></i></th>
            <td mat-cell *matCellDef="let element">
              <a [href]="element.package.github" target="_blank"><i class="fab fa-github"></i></a>
                <a [href]="element.package.npm" target="_blank"><i class="fab fa-npm"></i></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
